:root {
    --grey: #f3f3f3;
    --black: #000000;
    --input-border: #363636;
    --font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --button: #fdca1c;
    --poke-blue: #3761a8;
    --id-grey: silver;
}