.item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 80%;

    .pokemon-img {
        display: flex;
        img {
            align-self: center;
        }
    }

    .item-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        align-self: flex-start;
        padding-top: 5px;

        .item-menu-info {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;

            .item-name {
                margin-right: 40%;
                color: var(--black);
                font-weight: 420;
            }

            .item-id {
                color: var(--id-grey)
            }
        }

        .item-actions {
            margin-top: 10px;
            .item-characteristics {
                width: 100%;
                display: flex;
                flex-direction: row;

                .item-characteristics-el {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}